.banner {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: transparent;
	color: darkgray;
	padding: 5px 10px;
}

.banner-head{
	font-size: 2.4em;
}

.banner .logout{
	text-decoration: underline;
	cursor: pointer;
}

.banner .z-label {
    cursor: pointer;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
}

.fn-caption .z-caption-l{
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label{
	text-decoration: line-through;
}

.warn{
	color:red;
}

.demo-main a,.demo-main a:VISITED{
	color:#636363;
	text-decoration: underline;
	font-size: smaller;	
}

.todo-box {
	padding-right:4px;
}

.z-menubar {
	background: transparent;
	border:hidden;
}

.swift-menu-bar ul  {
	background-color: transparent;
}

/* menu font color */
.swift-menu-bar .z-menu-content {
	color: black;
}

.swift-menu-bar .z-menuitem-content {
	color: black;
}

.swift-menu-bar .z-menu-content:hover, .z-menuitem-content:hover {
	border: hidden;
}

.swift-menu-bar .z-menu-selected>.z-menu-content {
	border:hidden;
}

.swift-button {
	float: right;
}
/*.swift-menu-bar .z-menubar-body {*/
	/*border:hidden;*/
/*}*/

/*.swift-menu-bar .z-menu.z-menu-hover.z-menu-selected {*/
	/*background-color: transparent;*/
	/*border:none;*/
/*}*/

/*.swift-menu-bar .z-menu.z-menu-selected {*/
	/*background-color: transparent;*/
	/*border:none;*/
/*}*/

/*.swift-menu-bar .z-menu-text {*/
/*}*/