<!DOCTYPE html>
<html lang="en" ng-app="usersApp">

<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body ng-controller="userListController as ctrl">
<h1>User List</h1>
<div ng-repeat="u in ctrl.list">
    <span ng-bind="u.username"></span>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.js"> </script>

<script type="text/javascript">
    angular.module('usersApp',['ngResource'])
        .controller('userListController', ['userService', function(userService) {
            var self = this;
            self.list = userService.query();
        }]).factory('userService', ['$resource', function($resource) {
            return  $resource('../api/users/:id');
        }]);
</script>
</html>